* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;

    transition: all 0.3s ease-in-out;
}

body {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.game-container {
    /*background: linear-gradient(45deg, #e1d186, #fd9c7f);*/

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    position: absolute;

    flex-direction: column;

    height: 100vh;
    width: 100vw;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 10rem;
    font-weight: bold;

}


.board {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10rem;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    margin: 1rem;

    background: rgba(232, 164, 248, 0.68);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 1rem;
    width: 20rem;
}

.draggable {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    margin: 1rem;

    background: rgba(117, 167, 236, 0.68);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 1rem;
    width: 20rem;

    cursor: grab;


}


.dragging {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    color: transparent;

    cursor: grabbing;

    z-index: 100;

    transition: all 0.01ms ease-in-out;
}

.paired {
    background: rgba(0, 0, 0, 0.1);
    color: transparent;

    cursor: not-allowed;

    transition: all 0.01ms ease-in-out;
}

.menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #3E1E68;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;

    flex-direction: column;

    button {
        padding: 1rem;
        background: rgb(1, 124, 8);
        height: 10rem;
        width: 10rem;
        color: white;
        font-weight: bold;
        font-size: 4rem;
        border-radius: 100%;
        cursor: pointer;
    }

    div {
        color: white;
        font-size: 2rem;
        font-weight: bold;

    }
}